<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Explore a world of visual serendipity with images.up.railway.app. Our API delivers captivating random images tailored to your specified sizes. Instantly integrate unique visuals into your projects. Effortless, creative, and ready to inspire.">
    <meta name="keywords"
        content="random images, API, creative inspiration, web design, app development, visual serendipity">

    <meta property="og:title" content="images.up.railway.app - Explore Visual Serendipity">
    <meta property="og:description"
        content="Discover a world of visual creativity with our API. Instantly integrate unique visuals into your projects. Effortless, creative, and ready to inspire.">
    <meta property="og:image" content="https://cdn4.iconfinder.com/data/icons/business-3-4/512/question-256.png">
    <meta property="og:url" content="https://images.up.railway.app">
    <meta property="og:type" content="website">

    <meta name="robots" content="index, follow">
    <meta name="author" content="Mohammad (Joseph) Rahimov - joseph.uz">

    <link rel="shortcut icon" href="https://cdn4.iconfinder.com/data/icons/business-3-4/512/question-256.png"
        type="image/x-icon">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        ::selection {
            background-color: #727272;
            color: white;
        }

        * {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
            outline: none;
            margin: 0;
            padding: 0;
        }

        @media screen and (max-width: 578px) {
            kbd {
                font-size: 14px;
            }

            .api_text {
                display: block;
            }

            .badges,
            .title {
                display: block;
            }
        }
    </style>
    <title>Get random pictures, random sizes with API</title>

</head>

<body>

    <main>
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <img src="https://cdn4.iconfinder.com/data/icons/business-3-4/512/question-256.png" height="40"
                        alt="">
                    <title>Random Image</title>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                        fill="currentColor"></path>
                    </svg>
                    <span class="fs-4 title"> / Random Image API
                    </span>
                    <div class="badges">
                        <div class="badge m-2 bg-success">free</div>
                        <div class="badge bg-warning">unlimited</div>
                    </div>
                </a>
            </header>

            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Just easy</h1>
                    <p class="col-md-8 fs-5"><kbd>/photo</kbd> <span class="api_text">*random photo</span></p>
                    <p class="col-md-8 fs-5"><kbd>/photo/?width=&height=</kbd> <span class="api_text">*random photo with
                            exact size</span>
                    </p>
                    <a class="btn btn-primary btn-lg" href="{% url 'photo' %}">Just try</a>
                </div>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>Images are limited ?</h2>
                        <p>We have more than 100,000+ pictures in our databases. That makes our service faster than
                            others</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>&#9749; Buy me a coffee</h2>
                        <p>If you want to support this project, just
                            <br>
                            <a class="btn btn-outline-secondary mt-3" href="https://www.buymeacoffee.com/josephs">buy
                                me a coffee</a>
                        </p>
                    </div>
                </div>

            </div>

            <footer class="pt-3 mt-4 text-muted border-top">
                Author <a href="https://joseph.uz">Mohammadyusuf (Joseph)</a> |
                &copy; <span id="year"></span>
            </footer>
        </div>
    </main>
    <script>
        let date = new Date();
        document.getElementById("year").innerHTML = date.getYear() + 1900;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>